@model LibraryManagment.ViewModels.BookViewModel
@using LibraryManagment.ViewModels;

@{
    ViewData["Title"] = "Books Details";
}
<h3>@ViewData["Title"]</h3>
<hr />

<form asp-action="Create" asp-controller="Book" method="post">
    <div class="form-group row p-4">
        <fieldset class="row border">
            <div class="mb-3 col-md-3">
                <label class="form-label">Title</label>
                <input type="text" class="form-control" asp-for="Title" />
                @*   <span asp-validation-for="Title" class="text-danger"></span>*@
            </div>
            <div class="mb-3 col-md-3">
                <label class="form-label">Author</label>
                <input type="text" class="form-control" asp-for="Author" />
            </div>
            <div class="mb-3 col-md-3">
                <label class="form-label">Genre</label>
                <input type="text" class="form-control" asp-for="Genre" />
            </div>
            <div class="mb-3 col-md-3">
                <label asp-for="AvailabilityStatus" class="mb-2 control-label"></label>
                <select asp-for="AvailabilityStatus" asp-items="Html.GetEnumSelectList<Status>()" class="form-select">
                    <option selected="selected" value="">Please select</option>
                </select>
            </div>
            <div class="d-grid col-md-1 mb-2">
                <button type="submit" id="Save" class="btn btn-success">Save</button>
                <button type="submit" id="Update" class="btn btn-warning" style="display:none">Update</button>
            </div>
        </fieldset>
    </div>
</form>
@*  <button asp-action="Create" asp-controller="Book" class="btn btn-primary mb-2">Add Books</button>*@
<table class="table table-responsive table-hover table-bordered">
    <thead>
        <tr class="table-active">
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.BookModel != null)
        {
            @foreach (var book in ViewBag.BookModel)
            {
                <tr>
                    <td>@book.BookId</td>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Genre</td>
                    <td>@(book.AvailabilityStatus == 1 ? "Available" : "Reserved")</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-secondary" onclick="Edit(@book.BookId)">Edit</button>
                            @*<a asp-controller="Book" asp-action="Create" asp-route-id="@book.BookId" class="btn btn-secondary">Edit</a>*@
                            <a asp-controller="Book" asp-action="Delete" asp-route-id="@book.BookId" class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section scripts{
    <script type="text/javascript">

        function Edit(Id){
            debugger;
            $.ajax({
                url: "/Book/GetBookById/?Id=" + Id,
                type: "GET",
                dataType: 'json',
                contentType: "application/json; charset=UTF-8",
                success: function (response) {
                    console.log(JSON.stringify(response));
                    var title = response['title'];
                    var author = response['author'];
                    var genre = response['genre'];
                    var status = response['availabilityStatus'];
                    $('#Title').val(title);
                    $('#Author').val(author);
                    $('#Genre').val(genre);
                    $('#AvailabilityStatus').val(status.toString()).trigger("change");
                    $("#Save").attr("style", "display:none");
                    $("#Update").attr("style", "display:block");

                },
            });
        }
    </script>
}